@import url(https://fonts.googleapis.com/css?family=Signika+Negative:400,700);

html, body {
  height:100%;
  font-family: 'Signika Negative', sans-serif;
  font-size: 25px;
}

html {
  background: url('https://2.bp.blogspot.com/-SUMDIuZ7m48/TeWj1YDWcNI/AAAAAAAABhg/9fjPiDZHwms/s1600/winter.JPG') fixed;
  background-size: 100%;
}

div {
  overflow: hidden;
}

a {
  color: #322bff;
  text-decoration: underline;
  transition: 500ms;
}
a:hover {
  color: #26a1ff;
}

p {
  padding: 0 5%;
}

img {
  box-shadow: 0px 0px 4px #000;
}

#header {
  background: rgba(255, 255, 255, .5);
  padding: 1%;
  overflow: hidden;
  height: 55px;
}
#header img {
  float: left;
  box-shadow: none;
}
#header ul {
  list-style: none;
  float: left;
  padding-left: 10px;
  margin-top: 15px;
}
#header ul li {
  float: left;
  margin-left: 10px;
  font-size: 20px;
}

.fullscreen {
  height: 95%;
  position: relative;
}
.fullscreen .header {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  text-shadow: 0px 0px 2px #000;
}

.white {
  background: #eeeeec;
  padding: 0 5%;
}
.nobg {
  background: none;
  padding: 0 5%;
  color: #fff;
  text-shadow: 0px 0px 4px #000;
}
.semitrans {
  background: rgba(255, 255, 255, .5);
  padding: 0 5%;
}
.dark {
  color: #eeeeec;
  background: #010105;
  padding: 0 5%;
}

.nopadding {
  padding: 0;
}

.floatleft {
  float: left;
  margin: 2%;
}
.floatright {
  float: right;
  margin: 2%;
}

.more {
  text-align: center;
  font-size: 17px;
}
.more a {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}
.more a:hover {
  color: #777;
}
/* Style for the common section properties */
.section {
    padding: 20px;
    margin: 20px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Style for the h1 header within sections */
  .section h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
  }
  
  /* Style for the paragraph within sections */
  .section p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
  }

.movie-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-title {
  font-size: 1.5rem;
  margin: 8px 0;
}

.movie-description {
  font-size: 1rem;
  color: #555;
}

.product-list {
  display: flex;
  justify-content: center;
}
.product-card {
  flex-direction: column; /* Display each product in a separate column */
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 20px; /* Add margin between product columns if needed */
  background-color: #f7f7f7;
  text-align: center;
  margin: 20px;
}