button {
    background-color: #4CAF50; /* Green */
    border: 10px;
    border-color: aliceblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
    margin-right: 15px; /* Add right margin to create 15px of space between buttons */
}
